div#control-box {

    width: 17vw;
    max-height: fit-content;
    min-height: fit-content;

    background-color: var(--element-background-color);
    float: left;

    border-radius: 5px;
    padding-bottom: 4vh;

    font-size: 100%;
    line-height: 2.3vh;
    
    font-size: 1vh * 1vw;
}

#power-button {
    margin-left: .5vw;
    margin-right: .5vw;
    width: 5vw;

    height: 5vh;
    
}

#sound-output {
    width:13vw;
    min-height:10%;
    max-height:5vh;

    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;

    
    margin:auto;
    
}

#music-note {
    width: 5vw;
    height: 8vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0px;
}

#top-element-control-box {
    margin-top: .8vh;
}

#volume-selector {
    width: 10vw;
    height : .5vh;
    
    
}

#drumkit-select {
    display: inline-block;
    min-height: fit-content;
    width:fit-content; 
    height: fit-content;
}